
h1,h3{
  text-align: center;
}

h3{
  font-size:24px;
}

#ball {
  animation: rotate 5s infinite;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  margin-bottom:50px;
}
table td, table th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}
table td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
  font-size:16px;
}
table th {
  background-color: #4ECDC4;
  font-size:18px;
}
table tr:nth-of-type(even) td {
  background-color: #d9f4f2;
}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding:10px 0;
}

.git-link {
  font-size:24px;
  color:#FFE81F;
  font-weight: 600;
}



@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }

  table tr td:not(:first-child), table tr th:not(:first-child) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #d9f4f2;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}